body {
    width: 100%;
    height: 100%;
    margin: 0 auto;

    color: #424242;
    font-size: 15px;
    font-family: 'Noto Sans TC', sans-serif;
}
/* font-family: 'DM Sans', sans-serif; */

/*======================*/
/*======== container ========*/  
/*======================*/

.container {
    width: 100%;
    max-width: 1025px;
    margin: 0 auto;
}

/*======================*/
/*======== contacts ========*/  
/*======================*/

.contacts {
    width: 100%;
    padding: 5px;
    display: inline-block;
    box-sizing: border-box;
    
    background-color: #f0f2f4;
}

.contacts__inner {
    display: flex;
    float: right;
    align-items: center;
}

.contacts__link, .contacts__link a {
    margin: 0 10px;
    text-decoration: none;
    color: #424242;
    font-size: 1rem;
}

.facebook {
    position: relative;
    background-color: #1287bf;
    width: 25px;
    height: 22px;
    border-radius: 5px;
    text-align: center;
    padding-top: 2px;
    margin-left: -3px;

    transition: background .2s linear;
}

.facebook:hover {
    background: #4867AA;
}

/*======================*/
/*======== header ========*/  
/*======================*/

.header {
    width: 100%;
    padding: 30px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    font-family: 'DM Sans', sans-serif;
    font-size: 2.466rem;
    margin-left: 10px;
    position: relative;
    top: -10px;
}
.nav__link {
    text-decoration: none;
    margin: 0 10px;
    color: #424242;

    transition: color .2s linear;
}
.nav__link:hover {
    color: #de2b24;
} 

.btn {
    padding: 5px 20px;
    background-color: #de2b24;
    color: #fff;
    border-radius: 5px;

    transition: color .2s linear,
                background .2s linear;
}

.btn:hover {
    color: #fff;
    background: #f8cd53;
}

/*======================*/
/*======== intro ========*/  
/*======================*/

.intro {
    width: 100%;
    height: 40vh;
    padding: 130px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./img/intro-bg.png);
    background-size: cover;
}
.intro__inner {
    margin: 0 auto;
    text-align: center;
    color: #fff;
}  
.intro__btn {
    background: #f8cd53;
    font-size: 1.533rem;
    text-decoration: none;

    transition: background .2s linear;
}

.intro__btn:hover {
    background: #de2b24;
}
.intro__title {
    font-size: 3.2rem;
    font-family: 'DM Sans', sans-serif;
}

.intro__subtitle {
    font-size: 2rem;
    margin-bottom: 40px;
}
/*======================*/
/*======== About ========*/  
/*======================*/

.aboutUs {
    width: 100%;
    padding: 100px 0;
    text-align: center;
}

.preview {
    margin-bottom: 50px;
}

.preview__title {
    font-size: 2.4rem;
    font-family: 'DM Sans', sans-serif;
}

.preview__subtitle {
    font-size: 1.333rem;
}

.preview__border {
    margin: 5px auto 0;
    width: 70px;
    border: 2px solid #424242;
}

.aboutUs__inner {
    margin: 70px auto 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.aboutUs__item {
    margin: 0 auto;
    width: 30%;
    padding: 0 5px;
    justify-content: space-between;
}

.aboutUs__title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.466rem;
}