body {
    width: 100%;
    height: 100%;
    margin: 0 auto;

    color: #424242;
    font-size: 15px;
    font-family: 'Noto Sans TC', sans-serif;
}
/* font-family: 'DM Sans', sans-serif; */

/*======================*/
/*======== container ========*/  
/*======================*/

.container {
    width: 100%;
    max-width: 1025px;
    margin: 0 auto;
}

/*======================*/
/*======== contacts ========*/  
/*======================*/

.contacts {
    width: 100%;
    padding: 5px;
    display: inline-block;
    box-sizing: border-box;
    
    background-color: #f0f2f4;
}

.contacts__inner {
    display: flex;
    float: right;
    align-items: center;
}

.contacts__link, .contacts__link a {
    margin: 0 10px;
    text-decoration: none;
    color: #424242;
    font-size: 1rem;
}

.facebook {
    position: relative;
    background-color: #1287bf;
    width: 25px;
    height: 22px;
    border-radius: 5px;
    text-align: center;
    padding-top: 2px;
    margin-left: -3px;
}

/*======================*/
/*======== header ========*/  
/*======================*/

.header {
    width: 100%;
    padding: 30px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    font-size: 2.466rem;
    margin-left: 10px;
    position: relative;
    top: -10px;
}
.nav__link {
    text-decoration: none;
    margin: 0 10px;
    color: #424242;

    transition: color .2s linear;
}
.nav__link:hover {
    color: #de2b24;
} 

.btn {
    padding: 5px 20px;
    background-color: #de2b24;
    color: #fff;
    border-radius: 5px;

    transition: color .2s linear,
                background .2s linear;
}

.btn:hover {
    color: #fff;
    background: #f8cd53;
}